@use "../../abstract/variables" as *;

.detailedRacerInfo {
    color: $colorTextWhiteSmoke;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin: .5rem 0 1rem 0;
    box-shadow: -2px 2px 6px $colorBoxShadowDarkGrey;

    table {
        text-align: left;
        height: 100%;
        font-size: $fontSizeTable;
        border-collapse: collapse;
    }

    thead tr th,
    tbody tr td {
        padding-left: 2.7rem;
    }

    thead tr {
        border-radius: 20px;
        background-color: $colorDarkGreyBackground;

        th {
            padding: 1rem 0 1rem 2.7rem;
            font-size: $fontSizeMedium;
            text-shadow: -1px 1px 2px $colorTextShadowGrey;
            box-shadow: -.2px -.2px 2px $colorDarkGreyBackground;
        }
    }

    tbody {
        padding-left: 3%;
        font-family: 'Roboto', sans-serif;

        tr {
            box-shadow: -.2px -.2px 2px $colorBoxShadowDarkGrey;
        }

        tr td {
            padding-top: .8rem;
            padding-bottom: .8rem;
            font-size: $fontSizeTable;
            text-shadow: -2px 1px 2px $colorTextShadowDarkGrey;
        }

        tr:nth-child(odd) {
            background: linear-gradient(to bottom, $colorEvenDarkerGreyBackground 1%,
                    $colorDarkerGreyBackground 30%,
                    $colorBlueGreyBackground 90%,
                    $colorBorderBottomGrey 100%);
        }

        tr:nth-child(even) {
            background-color: rgba($colorEvenDarkerGreyBackground, 1);
        }

        .data {
            width: 15%;
        }
    }
}