@use "../../abstract/variables" as *;

.timerInfo {
    width: 48%;
    background-color: $colorTextWhiteSmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .timer {
        width: 55%;
        background-color: $colorOrangeBackground;
        margin: .2rem .3rem;
        font-size: $fontSizeMedium;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin: .5rem 0 0 0;
            text-align: center;
            color: $colorTextWhiteSmoke;
            font-weight: $fontWeightMedium;
            text-shadow: -2px 1px 2px $colorTextShadowDarkGrey;
        }

        time {
            font-size: $fontSizeExtraLarge;
            font-weight: $fontWeightMedium;
            margin-bottom: .22rem;
            color: $colorTextWhiteSmoke;
            text-shadow: -3px 1px 2px $colorTextShadowGrey;
        }
    }

    .temp {
        width: 45%;
        height: 95%;
        font-size: $fontSizeExtraLarge;
        font-weight: $fontWeightMedium;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: -2px 1px 3px $colorTextShadowDarkGrey;
    }
}